body            { font-family: sans-serif; background: #eee; width: 100%;}
a, h1, h3       { font-family: sans-serif; color: #377ba8; }
h1, h2, h3      { font-family: sans-serif; margin: 0; }
h1, h2          { font-family: sans-serif; border-bottom: 2px solid #eee; padding: 3px; }
h3              { font-family: sans-serif;padding: 3px; }
dd              { font-family: sans-serif;display: block; margin-left: 0px; }
dl              { font-family: sans-serif;font-weight: bold; }
a:visited 		{ font-family: sans-serif;color: #800080; }
.page           { font-family: sans-serif;margin: 2em auto; width: 90%; border: 5px solid #ccc; padding: 0.8em; background: white; }
.posts          { font-family: sans-serif;list-style: none; margin: 0; padding: 0; }
.posts li       { font-family: sans-serif;margin: 0.8em 1.2em; }
.posts li h2    { font-family: sans-serif;margin-left: -1em; }
.metanav        { font-family: sans-serif;text-align: right; font-size: 0.8em; padding: 0.3em; margin-bottom: 1em; background: #fafafa; }
.flash          { font-family: sans-serif;background: #cee5F5; padding: 0.5em; border: 1px solid #aacbe2; }
.error          { font-family: sans-serif;background: #f0d6d6; padding: 0.5em; }
