
  <ul class="posts">
    <script type=text/javascript>
         $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

<style>
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
</style>

  {% for row in posts %}
    <li>
    	<b>{{ row.post.title }}</b>
        {% if request.path == "/" %}
    	by <a href="{{ url_for('profile', username=row.username) }}">{{ row.username }}</a>
        {% endif %}
    	<br>
    	<font size="12">{{ row.post.text }}</font>
    	<br>

    <table style="width:100%">
  <tr>
            
    <th style="background-color:#E6E6FA"><div class="tooltip">LIKE
      <span class="tooltiptext">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</span>
        </div>
    </th>
    
    <th style="background-color:#fafae6"><div class="tooltip">VALID
      <span class="tooltiptext">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</span>
        </div></th> 
    <th style="background-color:#E6E6FA"><div class="tooltip">TRUST
      <span class="tooltiptext">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</span>
        </div>
    </th>
    
    <th style="background-color:#fafae6"><div class="tooltip">AUTHENTIC
      <span class="tooltiptext">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</span>
        </div>
    </th>
    
  </tr>
      <tr>
          <td style="background-color:#E6E6FA">
        <form>
          <input name = "like{{row.post.id}}" type="radio" id="like_1_{{row.post.id}}" value="1"> Strongly Dislike<br>
          <input name = "like{{row.post.id}}" type="radio" id="like_2_{{row.post.id}}" value="2"> Dislike<br>
          <input name = "like{{row.post.id}}" type="radio" id="like_3_{{row.post.id}}" value="3"> Neutral or N/A<br>
          <input name = "like{{row.post.id}}" type="radio" id="like_4_{{row.post.id}}" value="4"> Like<br>
          <input name = "like{{row.post.id}}" type="radio" id="like_5_{{row.post.id}}" value="5"> Strongly Like
        </form>
        <script>
        $("#like_{{row.like.rating}}_{{row.post.id}}").prop("checked", true)
          $("input[name=like{{row.post.id}}]").change(function(){
               $.getJSON($SCRIPT_ROOT + '/rate_like', {
                post_id: "{{row.post.id}}",
                rating: this.value
            }, function(data) {
        $("#result").text(data.result);
            });
            return false;
          });
        </script>
        </td>

      <td style="background-color:#fafae6">
         <form>
            <input name = "validity{{row.post.id}}"  type="radio" id="valid_1_{{row.post.id}}" value="1"> Very Invalid<br>
            <input name = "validity{{row.post.id}}"  type="radio" id="valid_2_{{row.post.id}}" value="2"> Invalid<br>
            <input name = "validity{{row.post.id}}"  type="radio" id="valid_3_{{row.post.id}}" value="3"> Neutral or N/A<br>
            <input name = "validity{{row.post.id}}"  type="radio" id="valid_4_{{row.post.id}}" value="4"> Valid<br>
            <input name = "validity{{row.post.id}}"  type="radio" id="valid_5_{{row.post.id}}" value="5"> Very Valid<br>
        </form>
        <script>
          $("#valid_{{row.valid.rating}}_{{row.post.id}}").prop("checked", true)
          $("input[name=validity{{row.post.id}}]").change(function(){
               $.getJSON($SCRIPT_ROOT + '/rate_valid', {
                post_id: "{{row.post.id}}",
                rating: this.value
            }, function(data) {
        $("#result").text(data.result);
            });
            return false;
          });
        </script>
      </td>
      
      <td style="background-color:#E6E6FA">
         <form>
              <input name = "trust{{row.post.id}}" type="radio" id="trust_1_{{row.post.id}}" value="1"> Extremely Untrustworthey<br>
              <input name = "trust{{row.post.id}}" type="radio" id="trust_2_{{row.post.id}}" value="2"> Untrustworthey<br>
              <input name = "trust{{row.post.id}}" type="radio" id="trust_3_{{row.post.id}}" value="3"> Neutral or N/A<br>
              <input name = "trust{{row.post.id}}" type="radio" id="trust_4_{{row.post.id}}" value="4"> Trustworthey<br>
              <input name = "trust{{row.post.id}}" type="radio" id="trust_5_{{row.post.id}}" value="5"> Extremely Trustworthey
         </form>
         <script>
         $("#trust_{{row.trust.rating}}_{{row.post.id}}").prop("checked", true)
          $("input[name=trust{{row.post.id}}]").change(function(){
               $.getJSON($SCRIPT_ROOT + '/rate_trust', {
                post_id: "{{row.post.id}}",
                rating: this.value
            }, function(data) {
        $("#result").text(data.result);
            });
            return false;
          });
        </script>
      </td>
  
      <td style="background-color:#fafae6">
        <form>
             <input name = "authenticity{{row.post.id}}" type="radio" id="authenticity_1_{{row.post.id}}" value="1"> Extremely Inauthentic<br>
             <input name = "authenticity{{row.post.id}}" type="radio" id="authenticity_2_{{row.post.id}}" value="2"> Inauthentic<br>
             <input name = "authenticity{{row.post.id}}" type="radio" id="authenticity_3_{{row.post.id}}" value="3"> Neutral or N/A<br>
             <input name = "authenticity{{row.post.id}}" type="radio" id="authenticity_4_{{row.post.id}}" value="4"> Authentic<br>
             <input name = "authenticity{{row.post.id}}" type="radio" id="authenticity_5_{{row.post.id}}" value="5"> Extremely Authentic
        </form>
        <script>
        $("#authenticity_{{row.authenticity.rating}}_{{row.post.id}}").prop("checked", true)
          $("input[name=authenticity{{row.post.id}}]").change(function(){
               $.getJSON($SCRIPT_ROOT + '/rate_authenticity', {
                post_id: "{{row.post.id}}",
                rating: this.value
            }, function(data) {
        $("#result").text(data.result);
            });
            return false;
          });
        </script>
      </td>
      </tr>
      
    </table>
    	<HR COLOR="purple" SIZE="6">
  {% else %}
    <li>There aren't any posts yet!
  {% endfor %}
  </ul>
